ul {
    list-style-type: none;
    margin-top: 15px;
    margin-left: 150px;
    margin-bottom: 0px;
    margin-right: 150px;
    padding: 0px;
    overflow: hidden;
    background-color: whitesmoke;
}

li {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li a {
    display: block;
    color: #454442;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:#6ba7b7 ;
}

.active {
    background-color: whitesmoke;
}

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color:grey;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
  
  input[type=submit]:hover {
    background-color: grey;
}
  

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }